.bigWheel {
<<<<<<< HEAD
  position: absolute;
  margin-left: 5rem;
=======
>>>>>>> 066cc4fda9de8da5e02d423906c94a0ebcebcf27
  bottom: 5vh;
  margin-left: 5rem;
  position: absolute;

}

.pennyFrame {
  position: absolute;
  transform: translateX(-16.5rem);
  bottom: 11vh;
  margin-bottom: .75rem;

}

.smallWheel {
<<<<<<< HEAD
  position: absolute;
=======
>>>>>>> 066cc4fda9de8da5e02d423906c94a0ebcebcf27
  bottom: 5vh;
  margin-bottom: 1rem;
  position: absolute;
}
