#bigWheel {
  position: absolute;
  margin-left: 5rem;
  bottom: 5vh;

}

#pennyFrame {
  position: absolute;
  left: 11rem;
  bottom: 11vh;
  margin-bottom: 1rem;
}

#smallWheel {
  position: absolute;
  bottom: 5vh;
  margin-bottom: 1rem;


}
