#bigWheel {
  position: absolute;
  margin-left: 5rem;
  bottom: 5vh;

}

#pennyFrame {
  position: absolute;
  transform: translateX(-16.5rem);
  bottom: 11vh;
  margin-bottom: .75rem;
}

#smallWheel {
  position: absolute;
  bottom: 5vh;
  margin-bottom: 1rem;


}
