.sideBar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c1272d;
  width: 27vw;
  height: 100vh;
  z-index: 1;
  transform: translateX(-30vw);
  transition: 1.2s cubic-bezier(0.4, 0, 0.4, 1);
}

.menuContainer {
    margin-top: 25vh;
    width: 100%;
}

.navItemDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarItem {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}

/* .navBarItem:hover {
  color: #c1272d;
} */
