.sideBar {
  position: relative;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #c1272d;

  width: 25vw;
  height: 100vh;
  transform: translateX(-30vw);
  transition: 1.2s cubic-bezier(0.4, 0, 0.4, 1);
}

.navItemDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItemDiv:hover {
  background-color: white;
}

.navBarItem {
  font-size: 1.5rem;
  color: white;
}

.navBarItem:hover {
  color: #c1272d;
}
