html {
  /* font-family: 'calibre-Bold', sans-serif;
  font-family: "Calibre-Bold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 0.3em; */
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  list-style: none;
}

body {
  margin: 0;
}


header {
  align-items: center;
  box-shadow: 2px 2px #c1272d;
  background: white;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  transform: translateY(-20vh);
  transition: 1s cubic-bezier(0.4, 0, 0.58, 1);
  width: 100vw;
  z-index: 2;
}

.logoDiv {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 80%;
  width: 25%;
}

.footer {
  background-color: #c1272d;
  bottom: 0;
  height: 1rem;
  position: fixed;
  width: 100vw;
}
