
html {
    /*font-family: 'calibre-Bold', sans-serif;*/
    font-family: "Calibre-Bold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
      "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 0.3em;
  }
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    background: white;
    position: fixed;
    transform: translateY(-20vh);
    z-index: 2;
    box-shadow: 2px 2px #C1272D;
    transition: 1s cubic-bezier(0.4, 0, 0.58, 1) ;
  }

  .logoDiv {
      width: 25%;
      height: 80%;
      background-image: url('../images/logo.png');
      background-size: contain;
      background-repeat: no-repeat;
  }