

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    top: 0;
    background: white;
    position: fixed;
    transform: translateY(-20vh);
    z-index: 1;
    box-shadow: 2px 2px #C1272D;
    transition: 0.3s cubic-bezier(0.4, 0, 0.58, 1) ;
  }

  .logoDiv {
      width: 25%;
      height: 80%;
      background-image: url('../images/logo.png');
      background-size: contain;
      background-repeat: no-repeat;
  }